<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Landing Page</title>
    <link rel="stylesheet" th:href="@{/landing.css}"/>
</head>
<body>
    <div id="home_view">
        <div id="form_container">

            <h1 id="header">Spring Practice</h1>

            <label for="inputField1"></label>
            <input type="text" class="inputField" name="userEmail"
                   id="inputField1" placeholder="Email or Username">

            <label for="inputField2"></label>
            <input type="password" class="inputField" name="password"
                   id="inputField2" placeholder="Password">

            <button class="landingButton">Log In</button>
            <button class="landingButton">
                <a id="registerButton" href="/register"> Register</a>
            </button>
            <p id="resetField"><a href="/" id="passReset">Forgot Password?</a></p>

        </div>
    </div>
</body>
</html>